:root{
    --primary-red: #dd5f5f;
    --secondary-red: #8b4246;
    --brown: #34292c;
    --primary-black: #2f2b2f;
    --secondary-black: #2d282a;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container{
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    height: 100vh;
    background: var(--primary-black);
}

.item-1{
    border: 3px solid var(--primary-red);
    grid-row: 3 / 10;
    grid-column: 4 / 7;
}

.item-2{
    border: 3px solid var(--primary-red);
    grid-row: 7 / 11;
    grid-column: 6 / 10;
}